apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-0udy
  namespace: e2e-demos-xmet-tenant
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/psturc/test-images-protected@sha256:54c38bc4b67d197a9f58f41700b2182366c2c17fa9c2e3f6845f66a63af81e1c
        name: my-java-quarkus
        resources: {}
status: {}
